.features{
	color: #457B9D;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

.features .card{
	text-align: center;
	color: #F1FAEE;
	background-color: #E63946;
	cursor: pointer;
	padding: 20px;
	min-height: 80px;
	min-height: 170px;
}

.features .MuiGrid-item {
	margin: 0px;
}

.features .card span.icon{
	font-size: 80px;
    display: block;
    margin: 30px auto 0 auto;
}