.features{
	color: #457B9D;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

.features h2, h3, h4 {
	color: #457B9D;
	text-align: left;
}

.features .card{
	text-align: center;
	color: #F1FAEE;
	background-color: #E63946;
	cursor: pointer;
	padding: 10px;
	min-height: 80px;
}
